<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Rowdystyle.css">
    <link rel="stylesheet" href="static/dinopia-font/DinopiaRegular.otf" type="font/otf" />

    <title>Dino Detectors</title>
</head>
<body>
    <div class="container">
        <div class="fade welcome">
            <h1>Welcome to Dino Detectors!</h1>
            <p class="text">
                Scan some barcodes and see if you capture a dinosaur!
            </p>
        </div>
        <!-- <div class="dino"> -->
            
        <!-- </div> -->

        <div class="fade buttons-container">
            <div class="btns"><a href="scan.html">Scan for Dinos</a></div>
            <div class="btns"><a href="view.html">View Dinos</a></div>
            <div class="btns"><a href="dinopedia.html">Dinopedia</a></div>

        </div>        
    </div>
</body>
</html>
